html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
}

#story {
    padding-top: 25vh;
}

#story .title {
    text-align: center;
}

#main {
    position: relative;
    height: 100%;
}

#panel {
    height: 100%;
}

#info {
    display: block;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 150px;
    overflow-y: scroll;
}